body {
  background-color: #3f772f;
}

.container {
  height: 70vh;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row;

}

.card-back-container {
  display: flex;
  flex-direction: row;
  display: block;
  /*justify-content: center;*/
  /*align-items: center;*/
}

.buttonHolder, .player-container, .dealer-container {
  text-align: center;
  display: block;
  color: white;
}

.button-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  border: 2px solid black;
}

.buttonHolder {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  width: 100vw;
}

.player-card-container img {
  /*max-width: 40vw;*/
  max-height: 50vh;
  /*margin: 5vw;*/
}

.card-container img {
  margin: 1vw;
}

.card-img {
  height: 30vh;
  margin: .5vw;
}

.bust-img {
  display: inline;
  width: 50vw;
}

.default-img {
  height: 40vh;
}

button {
  border: 1px solid #a07623;
  height: 5vh;
  background-color: black;
  font-family: monospace;
  color: #a07623;
  margin: 1vh;
}
