body {
  background-color: #3f772f;
}


.container {
  height: 70vh;
  align-items: center;
  /*justify-content: space-around;*/
  display: flex;
  flex-direction: row;
  cursor: url('img/spade.png'), auto;
}

.avatar {
  height: 240px;
}

#dealer-img {
  height: 280px;
}

.player-container, .dealer-container {
  text-align: center;
  display: block;
  color: black;
  flex: 4;
  flex-wrap: wrap;
  font-family: 'Bungee Inline';
  font-weight: 100;
  font-size: 24px;
}

.player-container {
  line-height: 1.2em;
}

.dealer-container {
  line-height: 1.4em;
}

.default {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 2vw;
  margin-right: 2vw;
  padding-left: 1vw;
}

.chip-container {
  /*border: 3px solid white;*/
  height: 20vh;
}

.chip-img {
  height: 6vh;
  
}

.bet-tracker {
  font-size: 50px;
}

.left-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  align-items: center;
  font-size: 48px;
  font-family: 'Bungee Inline'
  /*font-size: 300px;*/
}

.player-info {
  cursor: pointer;
}

.buttonHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  text-align: center;
  color: black;
  /*font-family: monospace;*/
}

.player-button {
  width: 30vw;
}

.player-card-container img {
  max-height: 50vh;
}

.player-card-container, .dealer-card-container {
  position: relative;
}

.card-container img {
  margin: 1vw;
}

.card-img {
  height: 20vh;
  margin: .5vw;
}

#dealer-bust, #player-bust {
  position: absolute;
  display: none;
  height: 50vh;
  z-index: -1;
  /*height: 50vh;*/
  /*position: fixed;*/
  top: -200px;
  right: 20px;
}

.default-img {
  max-height: 300px;
}

button {
  border: 1px solid #a07623;
  height: 7vh;
  background-color: black;
  font-family: 'Bungee Inline';
  font-size: 24px;
  color: #a07623;
  margin: 1vh;
  cursor: pointer;
}

#check-score {
  width: 20vw;
}

.bet-tracker {
  text-align: center;
  font-family: 'Bungee Inline';
  line-height: .2em;
}
